<div class="sidenav">
  <nav>
    <img  width="50%" height="50%" src="../../assets/police.svg" />
    <a routerLink="/sql" routerLinkActive="active"> <i class="fa fa-database" aria-hidden="true"> </i>SQL</a>
    <a routerLink="/filter" routerLinkActive="active"><i class="fa fa-filter" aria-hidden="true"> </i>Filter</a>
    <a routerLink="/statistics" routerLinkActive="active"><i class="fa fa-bar-chart" aria-hidden="true"> </i>Statistics</a>
    <a routerLink="/map" routerLinkActive="active"><i class="fa fa-map" aria-hidden="true"> </i>Map</a>
    <a routerLink="/credits" routerLinkActive="active"><i class="fa fa-external-link" aria-hidden="true"> </i>Credits</a>
  </nav>
</div>


